<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appdosimetriapena"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipoCrimeActivity"
            android:label="@string/title_activity_tipo_crime" >
        </activity>
        <activity
            android:name=".TipoClienteActivity"
            android:label="@string/title_activity_tipo_cliente" >
        </activity>
        <activity
            android:name=".CadastroClienteActivity"
            android:label="@string/title_activity_cadastro_cliente" >
        </activity>
        <activity
            android:name=".SelecionaClienteActivity"
            android:label="@string/title_activity_seleciona_cliente" >
        </activity>
        <activity
            android:name=".RegrasActivity"
            android:label="@string/title_activity_regras" >
        </activity>
        <activity
            android:name=".VisualizaFichaActivity"
            android:label="@string/title_activity_visualiza_ficha" >
        </activity>
        <activity
            android:name=".AtenuantesActivity"
            android:label="@string/title_activity_atenuantes" >
        </activity>
    </application>

</manifest>
